<template>
  <div class="container mt-5">
    <div class="row mb-3">
      <div class="col-12">
        <nuxt-link to="/" class="btn btn-outline-success">Return back</nuxt-link>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h1>Create your own QR</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <input v-model="qr" type="text" class="form-control" placeholder="Start typing..." />
      </div>
      <div class="col-lg-6 text-center mt-3" v-if="qr">
          <qrcode :value="qr" :options="{ width: 200 }"></qrcode>
    </div>
    </div>
  </div>
</template>

<script>
import VueQrcode from "@chenfengyuan/vue-qrcode";

export default {
  components: {
    qrcode: VueQrcode
  },

  data() {
    return {
      qr: null
    };
  }
};
</script>

<style>
</style>