<template>
  <div class="container index">
    <div>
      <logo />
      <h1 class="title">
        qr-scanner
      </h1>
      <h2 class="subtitle">
        My dazzling Nuxt.js project
      </h2>
      <div class="links">
        <div
          @click="open()"
          class="button--green"
        >
          Scan
        </div>
        <nuxt-link
          to="/create"
          class="button--grey"
        >
          Create
        </nuxt-link>
        <div class="decoded mt-3 card border border-success" v-if="message">
          <div class="card-header">
            Your decoded message
          </div>
          <div class="card-body">
            {{message}}
          </div>
        </div>
      </div>
    </div>
    <b-modal id="modal-1" size="lg" title="Scan here...">
     <client-only>
            <qrcode-stream @decode="onDecode"></qrcode-stream>
     </client-only>
    </b-modal>
  </div>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  },
  data() {
    return {
      message: null
    }
  },
  methods: {

onDecode (decodedString) {
    this.message = decodedString
    this.$bvModal.hide("modal-1")
  },

    open() {
      this.$bvModal.show("modal-1")
    }
  }
}
</script>

<style>
.index {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.decoded {
  font-weight: 300;
  font-size: 28px;
  color: #526488;
  word-spacing: 5px;
}

.links {
  padding-top: 15px;
}
</style>
